-server
-Xms64m
-Xmx64m
-Duser.timezone=UTC
-Dfile.encoding=UTF-8
-Djava.io.tmpdir=var/tmp
-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager
-Ddruid.host=$(echo $HOSTNAME).middlemanager.default.svc.cluster.local
-Ddruid.worker.ip=$(echo $HOSTNAME).middlemanager.default.svc.cluster.local
